body{
    background: #34495e;
    padding: 0;
    font-family: sans-serif;
}
h2{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.center{

    width: 300px;
    padding: 40px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background: black;
    text-align: center;
    border-style: none;
}
.center input[type = text],.center input[type = "password"]{
    margin: 20px auto;
    background: none;
    display: block;
    text-align: center;
    padding: 14px 10px;
    border: 2px solid #0097e6;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;

}
.center input[type = text]:focus,.center input[type = "password"]:focus{
    width: 280px;
    border-color: #2ed573;
}
input[type = "submit"]{
    margin: 20px auto;
    background: none;
    display: block;
    text-align: center;
    padding: 14px 40px;
    border: 2px solid #2ed573;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
input[type = "submit"]:hover{
    background: #2ed573;

}